*{
    margin: 0; 
    padding: 0; 
  }
body{
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.3rem;
}
header{
    overflow: auto;
    display: flex;  
    box-shadow: 0px 0px  30px  blue;
    border-radius: 20px;
}

img{
    /**float: left;***/
    width: 250px;
    max-width: 100%;
    border-radius: 40px;
    margin-right: 1.5rem;
    padding: 20px;
    
}

h1{
    align-self: center;
}
nav{
    margin-top: 15px;
}
footer{
    box-shadow: 0px 0px  30px  blue;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

