

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'BIZ UDPMincho', 'Playfair Display','Roboto Condensed', serif;
    
}

:root{
    --primary-color: #C2C5AA;
    --secondary-color: #B6AD90;
    --accent1-color:#333D29;
    --accent2-color:#582F0E;
    --accent3-color:#936639;
    --accent4-color:#414833;

}
body{
    
    width:80%;
    margin: 0 auto;
    background-color: #C2C5AA;
    
}


.header-content img{
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    
    
    
}

.logo img{
    width: 300px;
}
nav ul{
    padding: 40px;
    background-color:#333D29;
    margin-bottom: 5px;

    
}

nav ul li{
    list-style-type: none;
    
    
    
}
nav ul li a{
    text-decoration: none;
    display: block;
	color:  #C2C5AA;
	text-align: center;
	padding: 0.75rem;
	font-family: 'BIZ UDPMincho', 'Playfair Display';
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}





main{
    background-color:#B6AD90;
    margin-top: 10px;
}
p{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'BIZ UDPMincho', 'Playfair Display';
}
h2{
    background-color:#936639;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family:'BIZ UDPMincho', 'Playfair Display' ;
   
}
footer{
    background-color:#333D29;
    padding: 20px;
    font-weight: bolder;
    text-align: center;
}

/********** Target Audience page  *************/


#table-main-content{
   
    margin-top: 20px;
    grid-gap: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
    
    
}
.persona-content{
    width: 100%;
    background-color:#936639;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

}
.persona-content2 > img{
    width: 100%;
    height: 400px;
}
.persona-content3 > img{
    width: 100%;
    height: 400px;
}
.persona-content1 > img{
    width: 100%;
    height: 400px;
}

table{
    background-color: #C2C5AA;    
    width: 100%;
    
   
}

.persona-content2{
    width: 100%;
    background-color:#936639;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  
}
.persona-content3{
    width: 100%;
    background-color:#936639;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
 

}
.persona-content1{
    width: 100%;
    background-color:#936639;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
 

}






/********** Colour Scheme page  *************/


#pallete {     
    width: 80%;
    margin: 0 auto;
}
.ts{
    width: 80%;
    margin: 0 auto;
}

#pallete > img{
    width: 100%;
}
#pallete > table{
    width: 100%;
} 

.color > th{
    background-color: black;
}

.column1, .column2, .column3,.column4,.column4,.column5,.column6{
    color: #C2C5AA;
    text-align: center;
    border: black 2px solid;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
   

}
.row1{
    background-color: #333D29;
    text-align: center;
    border: black 2px solid;  
    padding-top: 40px;
    padding-bottom: 40px;
   

}


.row2{
    background-color: #C2C5AA;
    text-align: center;
    border: black 2px solid;   
    padding-top: 40px;
    padding-bottom: 40px;
   
}


.row3{
    background-color: #B6AD90; 
    text-align: center;
    border: black 2px solid; 
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.row4{
    background-color: #582F0E;
    text-align: center;
    border: black 2px solid;   
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.row5{
    background-color: #936639;
    text-align: center;
    border: black 2px solid; 
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.row6{
    background-color: #414833;
    text-align: center;
    border: black 2px solid;   
    padding-top: 40px;
    padding-bottom: 40px;
   
    
}

/* Typography page */

#typo-table, th, td {
    border: 1px solid;
    padding: 0.75rem;
}
 .col1{
    background-color: #582F0E;

}
.rows1:hover {background-color: #B6AD90;}


.typo-content{
    max-width: 100%;
    overflow-x:auto;
}
.ts{
    overflow-x:auto;
    max-width: 100%;
}
table{
    max-width: 100%;
}

.sent{
    margin-bottom: 10px;
    text-align: center;
    background-color: #582F0E;
    padding: 0.4rem;
}

