/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav button {
        display: none;
        
    }
   
    nav ul#navLink {
        display: flex;
        /* margin-left: 2vw; */
        border-left: 1px solid black;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid black;
    }


}




/* @media only  screen  and(min-width: 35rem) {
    
} */