@media only screen and (min-width: 35rem){
    nav button {
        display: none;
    }
    nav ul#navLink{
        margin-left: 2vw;
        display: flex;
        justify-content: center;

        
    }
    nav ul li a {
        border: none; 

    }
    header, main{
        margin: 0 auto;
        width: 90%;
    }
    .main-item{
        width: 100%;       
        display: flex;
        flex-direction: column;
        gap: 20px;  
    
    }
    .main-cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .weather{
        width: 100%;
    }
    .weather h2{        
        width: 500px;
                
    }
    .weather h3{       
        width: 500px;
        
    }
    .special h3{       
        width: 500px;       
    }
    .special h2{       
        width: 500px;       
    }
    .disc{        
        width: 500px;
        
    }
    form{
        width: 700px
    }
    .middle-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .fresh-article{
        width: 100%;
    }
    .article-section{
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sect1 sect2"
                              "sect3 sect4";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin-top: 35px;
        margin-left: 40px;
    }
    .fresh-article{
        width: 700px;
        
    }
    section:nth-child(4){
        margin-bottom: 30px;
    }
    section:nth-child(1){
        margin-top: 0px;
    }
    section{          
        width: 300px;
        margin-bottom: 30px;
    }    
    .about{        
        width: fit-content;       
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        grid-template-areas: " one  one"
                             " two   three ";
        row-gap: 10px;
    }
    
    .one{
        grid-area: one;
        width: 100%;
        width: fit-content;
        
    }
    
    .two{
        grid-area: two;
        margin-right: 10px;
        width: fit-content;
       
    }
    .three{
        grid-area: three;
        width: fit-content;
       
    }
    .one h2{
        margin-left: 30%;
    }
    .two h2{
        margin-left: 15px;
    }
    .three h2{
        margin-left: 15px;
    }
    .modal{   
        width: 500px;
        height: 500px;
        background-color: #48CAE4;
        border-radius: 5px;
        box-shadow: 0 0 20px black;
        padding: 5px;
        position: absolute;
        visibility: hidden;
        top: 350px;
        left: 30%;
        right: 2%
    
    }
    .head{
        text-align: center;
        border-radius: 10px;
        width: 300px;
        padding: 9px;
        position: relative;
        left: 20%;
        top: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: #999;
    }
    .fruit-details{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


}