@media only screen and (min-width: 64rem){
    
      
    
    section{
        border: black solid 2px;
    }
    .main-content{
        display: grid;       
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: "Event main-image spotlight"
                             "Weather main-image spotlight"
                             "join new-release spotlight";
        grid-gap: 5px;
    }
    .Event{
        grid-area: Event;
    }
    .main-image{
        grid-area: main-image;
    }                         
    .Weather{
        grid-area: Weather;
    }
    .join{
        grid-area:join ;
    }
    .new-release{
        grid-area: new-release;
    }
    .spotlight{
        grid-area: spotlight;         
        display: grid;
        grid-template-rows:1fr 1fr ;
        grid-template-areas: "spotlight1"
                             "spotlight2";
                              
        
    }
    .spotlight1, .spotlight2{
        border: black solid 1px;
        margin: 10px;
        /* justify-items: stretch; */
        
    }
    .spotlight1{
        grid-area: spotlight1;
    }
    .spotlight2{
        grid-area: spotlight2;
    }
    .spotlight3{
        grid-area: spotlight3;
    } 
    .table-content{    
        display: grid;   
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows:  1fr;
        grid-template-areas: "atn btn ctn";
                            
    }
    .atn{
        grid-area: atn;
    }
    .btn{
        grid-area: btn;
    } 
    .ctn{
        grid-area: ctn;
    }  
    

}
/* .table-content{
    display: flex;
    flex-direction: row;
} */
